<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Captura todas as URLs e passa para o ASP.NET Core -->
    <handlers>
      <add name="aspNetCore"
           path="*"
           verb="*"
           modules="AspNetCoreModuleV2"
           resourceType="Unspecified" />
    </handlers>
    <!-- Redireciona a aplicação para o dll -->
    <aspNetCore processPath="dotnet"
                arguments="Prontto.Api.dll"
                stdoutLogEnabled="true"
                stdoutLogFile=".\stdout_log.txt"
                errRewriteProcessErrorRedirects="true"
                hostingModel="OutOfProcess" />
  </system.webServer>
</configuration>
